<div>
    <div>
        <h3>SHOP</h3>
    </div>
</div>
<div class="content_box_1">
    <div class="green">
        <div class="_500">
            <h3>CREATE</h3>
            <div>
                <h5 class="section_title">NAME</h5>
                <input ng-model="shop.name" class="in_2" type="text" placeholder="NAME"/>
                <br>
                <h5 class="section_title">ADDRESS</h5>
                <div ng-repeat="item in shop.addresses">
                    <input ng-model="item.street" class="in_3-4" type="text" placeholder="STREET"/><input ng-model="item.nr" class="in_4" type="text" placeholder="NR"/>
                    <br>
                    <input ng-model="item.zipcode" class="in_3" type="text" placeholder="ZIP CODE"/><input ng-model="item.city" class="in_3" type="text" placeholder="CITY"/><input ng-model="item.country" class="in_3" type="text" placeholder="COUNTRY"/>
                </div>
                <br>
                <h5 class="section_title">CONTACT</h5>
                <h6>EMAILS</h6>
                <div ng-repeat="item in shop.emails"><input type="text" class="in_4" ng-model="item.name" placeholder="NAME"/><input ng-model="item.email" class="in_2" type="text" placeholder="EMAIL"/></div>
                <h6>PHONES</h6>
                <input ng-model="newshop.phone" class="in_2" type="text" placeholder="PHONE"/>
            </div>
            <div>
                <button ng-click="savenewshop()">SAVE AND ADD DETAILS</button>
            </div>
        </div>
    </div>
</div>